.discount {
    position: fixed;
    width: 90px;
    height: 80px;
    background-color: #DE8B3A;
    left: 10px;
    bottom: 0;
    display: grid;
    padding-left: 4px;
    padding-right: 4px;
    box-sizing: border-box;
    border-right: 1px solid #CE7524;
    border-left: 1px solid #CE7524;
    transition: all 1s ease;
    z-index: 2;
}

.discount:hover {
    height: 120px;
}

.discount-hat {
    width: 90px;
    position: relative;
    bottom: 10px;
    left: -6.5px;
}

.discount span {
    border-bottom: 2px dotted #D17A28;
}

.discount .advert {
    text-align: center;
    display: grid;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.discount label {
    margin-top: 10px;
}

.footer {
    color: #898989;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    box-sizing: border-box;
    text-align: center;
    height: 200px;
    margin-top: 100px;
    background-color: #ebebeb;
    border-top: 1px solid #898989;
}

.footer span {
    display: block;
}