.header{
    min-width: 300px;
    position: fixed;
    top:0px;
    left: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    box-sizing: border-box;
    height: 100px;
    width:calc(100% - 350px);
    background-color: black;
    opacity: 85%;
    z-index:3;
}
.delivery-info{
    display: grid;
    height: 100%;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
}
.delivery-info .sign-in{
    display: grid;
    float:right;
}
.info-details{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    color: lightgrey;
    font-size: 14px;
}
.delivery-name{
    min-width: 90px;
    width: 90px;
    height: 110%;
    background-color: #de8b3a;
    margin-left: 10px;
    display: grid;
    place-content: center;
}
.delivery-name span{
    justify-content: center;
    display: grid;
    color: white;
    font-size: 24px;
}
.pizza-hat{
    margin:0;
    width: 90px;
    min-width: 90px;
    position:relative;
    bottom:-28px;
    transform: rotate(180deg);
}

.main-info{
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr auto;
    width: 100%;
    box-sizing: border-box;
    height:50%;
    border-bottom: 1.5px solid lightgrey ;
}
.sign-in{
    width: 70px;
    height:30px;
    color: white;
    background-color: #F2711D;
    border: 1px solid #F2711D;
    border-radius: 5px;
    display: grid;
    place-items: center;
}
.pizza{
    height: 50%;
    align-items: center;
    display: grid;
    color: lightgrey;
}